*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;;
}
body{
    overflow-x: hidden;
}

.header{
    background: #fff;
    width:100%;
    height:60px;
    display:flex;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.ms{
    padding-left: 78px;
    height: 23px;
    padding-top: 15px;
    display: inline-block;
}
.mss{
    display: inline-block;
    padding-left: 20px;
    padding-top: 20px;
    color: black;
    height: 23px;
    
}

.element{
    display: inline-block;
    padding-left: 30px;
    padding-top: 19px;

   
}
a{
    color: #000;
    text-decoration: none;
    font-size: 13px;
}
a:hover{
   
    text-decoration: underline;
}
.element1{
    display: inline-block;
    padding-left: 20px;
    padding-top: 19px;

    caret-color: black;
    height: 23px;
}
.span{
    padding-left: 455px;
    padding-top: 19px;
    
    font-size: 13px;
}
.button1{
    background-color: #0067b8;
    border: none;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 160px;
    color: white;
    font-weight:bold;
}
.button1:hover{
    text-decoration:underline;
    font-weight: bolder;
    width: 162px;
}
.btn{
    margin-top: 28px;
    display:flex;
}
.a1{
    margin-top: 7px;
    margin-left: 25px;
    font-weight: 500 ;
    color:#0067b8;
    font-size: large;
}
.a1:hover{
    font-stretch: expanded;
}

.lens{
    height: 15px;
    padding-top: 19px;
    display: inline-block;
    padding-left: 20px;
}
.lens:hover{
    height:18px;
}
.ubody1{
    background-image: url("/ubody.jpg");
    width :100%;
    height: 570px;
    background-size: 100% 100%;

}
.midbody{
    width: 350px;
    display:flex;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    flex-direction: column;
    position: relative;
    padding-left: 115px;
    padding-top: 190px;
    margin-bottom: 1.5rem!important;
}
.h2{
    font-weight:600;
    font-size: 0.8cm;
}
.swipe{
    
    width: 100%;
    height: 35px;
    display:flex;
    flex-direction: row;
    
}
.ab{
    padding-left: 550px;
    padding-top: 20px;
}
.arr{
    width: fit-content;
    height:30px;
    padding-left: 20px;
}
.arr:hover{
    height:31px;
}
.arr1{
    width: fit-content;
    height:10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.cntrl{
    
    display: grid;
    grid-template-columns: 250px 230px 200px 200px;
   margin-left: 20%;
   margin-top: 50px;
   align-self: center;
    
}
.log{
    display: flex;
    align-self:center;
    
    flex-direction: column;
    
}
.img{
    height:28px;
    width:28px;
    align-self: center;
}
.a2{
    margin-top: 7px;
    font-weight: 500 ;
    color:#0067b8;
    font-size:medium;
}
.dwn{
    height: 10px;
}
.mid{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 5%;
    padding-top: 70px;
}
.midin{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.midin button{
    width: 60px;
    height: 30px;
    background-color:#ffb900;
    border:none;
    font-size:medium;
}
.edge{
    width: 100%;
    height: 700px;
    padding-left: 70px;
    padding-top: 90px;
   
}
.edgein{
    width: 85%;
    height: 450px;
    background-image: url("/edge.webp");
    background-repeat:none;
    padding-left: 50px;
    padding-top: 150px;
    
}
.msedge{
    width:350px;
    height: 250px;
    background-color:white;
    padding-left: 50px;
    padding-top:60px;
}
.bottom{
    display:flex;
    width:100%;
    height: 100px;
    padding-top: 100px;
    padding-left:85px;
    padding-bottom:10px;
}
.bottom a:hover{
    height: 27px;
}
.dlogo{
    
    height:25px;
    width:25px;
    padding-left:20px;
}
.bckbtn{
    padding-left:900px;
}
.bcktop{
    width: 100px;
    height: 40px;
    background-color:#dbe0d9;
    border:none;
    font-size:medium;
}
.footer{
    width:100%;
    background-color:#dbe0d957;
    height:350px;
    display: flex;
    flex-direction: row;
    color:grey;
    padding-left: 5%;
    padding-top: 40px;
    font-weight:400;
}
.infooter{
    width: 13%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.infooter a{
    color:grey;
    text-decoration: none;
    font-size: 11px;
}
.infooter a:hover{
    color:black;
    text-decoration: underline;
}
.bfooter{
    display:flex;
    padding-top:10px;
    background-color:#dbe0d957;
    padding : 15px;
    padding-left :90px;
    
    
}
.bfooter i{
    font-size:20px;
    opacity: 0.5;
    
}

.bfooter h6{
    padding-top:3px;
    padding-left: 12px;
    color:grey;
    text-decoration: none;
    font-size: 11px;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:400;
}
.bfooter h6:hover{
    color:black;
    text-decoration: underline;
}
.q{
    padding-left: 42%;
}
.s{
    padding-left: 1.6%;
}